{% extends "base.html" %}

{% block content %}
<div class="sidebar-left">
  <a href="{{ get_url(path='@/_index.md') }}" class="sidebar-link">Home</a>
</div>

<div class="page-layout">
  <div class="content-column">
    <h1>Library</h1>
    
    <h2>Currently Reading</h2>
    
    <ul>
      <li><em>Stoner</em> by John Williams</li>
      <li><em>Notes to John</em> by Joan Didion</li>
      <li><em>The Origins of Efficiency</em> by Brian Potter</li>
      <li><em>Works in Progress</em> magazine</li>
    </ul>
    
    <h2>2024 & 2025</h2>
    
    <ul>
      <li><em>Breakneck</em> by Dan Wang</li>
      <li><em>The Scaling Era: An Oral History of AI, 2019–2025</em> by Dwarkesh Patel</li>
      <li><em>Abundance</em> by Ezra Klein</li>
      <li><em>Essentialism</em> by Greg McKeown</li>
      <li><em>The Soul of Care</em> by Arthur Kleinman</li>
      <li><em>Letters to a Young Therapist</em> by Mary Pipher</li>
      <li><em>The Coming Wave</em> by Mustafa Suleyman & Michael Bhaskar</li>
      <li><em>Man's Search for Meaning</em> by Viktor E. Frankl</li>
      <li><em>Chip War</em> by Chris Miller</li>
      <li><em>The Artist's Way</em> by Julia Cameron</li>
      <li><em>Recoding America</em> by Jennifer Pahlka</li>
      <li><em>The Illness Narratives</em> by Arthur Kleinman</li>
      <li><em>Radical Curiosity</em> by Seth Goldenberg</li>
      <li><em>Letters to a Young Poet</em> by Rainer Maria Rilke</li>
      <li><em>Big Bets</em> by Rajiv Shah</li>
      <li><em>Food Fix</em> by Mark Hyman</li>
      <li><em>The Code Breaker</em> by Walter Isaacson</li>
      <li><em>Scaling People</em> by Claire Hughes Johnson</li>
      <li><em>Devotions</em> by Mary Oliver</li>
      <li><em>Behave</em> by Robert M. Sapolsky</li>
      <li><em>Where Is My Flying Car?</em> by J. Storrs Hall</li>
      <li><em>Proust and the Squid</em> by Maryanne Wolf</li>
      <li><em>Advice for a Young Investigator</em> by Santiago Ramon Y Cajal</li>
      <li><em>Transitions</em> by William Bridges</li>
      <li><em>The Song of the Cell</em> by Siddhartha Mukherjee</li>
      <li><em>Dear Sugar</em> by Cheryl Strayed</li>
      <li><em>The Pain Gap</em> by Anushay Hossain</li>
      <li><em>Digital Minimalism</em> by Cal Newport</li>
      <li><em>Good Economics for Hard Times</em> by Abhijit V. Banerjee & Esther Duflo</li>
      <li><em>Algorithms to Live By</em> by Brian Christian & Tom Griffiths</li>
      <li><em>The End of Sex</em> by Henry T. Greely</li>
      <li><em>Talent</em> by Tyler Cowen & Daniel Gross</li>
      <li><em>Moral Ambition</em> by Rutger Bregman</li>
      <li><em>Building Moonshots</em> by Tamara Carleton & William Cockayne</li>
      <li><em>Factfulness</em> by Hans Rosling (with Ola Rosling & Anna Rosling Rönnlund)</li>
      <li><em>Scientific Freedom: The Elixir of Civilization</em> by Donald W. Braben</li>
      <li><em>Rad Future: The Untold Story of Nuclear Electricity and How It Will Save the World</em> by Isabelle Boemeke</li>
      <li><em>The Business of Philanthropy</em> by Badr Jafar</li>
      <li><em>Planetary Health</em> by Samuel S. Myers & Howard Frumkin</li>
      <li><em>The 15 Commitments of Conscious Leadership</em> by Jim Dethmer, Diana Chapman, Kaley Warner Klemp</li>
      <li><em>Eat Like a Fish</em> by Bren Smith</li>
      <li><em>Speed & Scale</em> by John Doerr and Ryan Panchadsaram</li>
      <li><em>Brave New World</em> by Sal Khan</li>
    </ul>
  </div>
</div>
{% endblock %}
